apiVersion: v1
kind: Service
metadata:
  name: opentelemetry-collector
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/instance: tyk-otel-collector
    app.kubernetes.io/name: opentelemetry-collector
    component: standalone-collector
  ports:
    - name: prometheus
      port: 9464
      protocol: TCP
      targetPort: 9464
    - name: health-check
      port: 13133
      protocol: TCP
      targetPort: 13133
    - name: pprof
      port: 1888
      protocol: TCP
      targetPort: 1888
    - name: zpages
      port: 55679
      protocol: TCP
      targetPort: 55679
